body {
    background-color: #05050a;
    color: #cccccc;
    font-family: monospace;
    margin-top: 2.5%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;
    text-align: justify;
}

h1 {
    color: #00aa00;
    font-size: 2vw;
}

h2 {
  color: #00ffbb;
  font-size: 1vw;
}

p {
  font-size: 0.5vw;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;


  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: #00aa00;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
